.contacts__title {
  display: block;

  text-align: center;
}

.contacts__text {
  text-align: center;
}

.contacts__phone {
  display: block;
  text-align: center;
  width: 278px;
  padding-top: 15px;
  padding-bottom: 14px;

  border: 1px solid #e5ddd5;

  margin: 0 auto;

  margin-top: 20px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  cursor: pointer;

  &:hover {
    border: 1px solid #d5c9bd;
  }

  &:active {
    background-color: #d5c9bd;

    color: rgba($color: #000000, $alpha: 0.3);
  }
}

@media (min-width: 768px) {
  .contacts__title {
    text-align: left;
  }

  .contacts__text {
    text-align: left;
  }

  .contacts__phone {
    display: inline;
    text-align: left;
    padding: 0;

    border: none;

    margin: 0;

    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    text-transform: none;
    color: #ffffff;

    cursor: none;

    &:hover {
      border: none;
    }

    &:active {
      background-color: transparent;
      color: #ffffff;
    }
  }
}
