.copyright__text {
  display: block;
  text-align: center;

  margin-top: 30px;
  margin-bottom: 12px;
}

.copyright__link {
  color: #ffffff;
}

@media (min-width: 768px) {
  .copyright {
    margin-left: auto;
  }

  .copyright__text {
    margin-top: 0;
  }
}
