.social__title {
  display: none;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

.social__link {
  display: block;
  border: 1px solid #3e3e3e;
}

.social__link--vkontakte {
  padding-left: 42px;
  padding-right: 40px;
  padding-top: 36px;
  padding-bottom: 37px;

  border-right: none;
}

.social__link--facebook {
  padding-left: 44px;
  padding-right: 41px;
  padding-top: 28px;
  padding-bottom: 32px;

  border-right: none;
}

.social__link--instagram {
  padding-left: 37px;
  padding-right: 34px;
  padding-top: 31px;
  padding-bottom: 32px;
}

@media (min-width: 768px) {
  .social__link--vkontakte {
    padding-left: 93px;
    padding-right: 95px;
  }

  .social__link--facebook {
    padding-left: 98px;
    padding-right: 96px;
  }

  .social__link--instagram {
    padding-left: 88px;
    padding-right: 88px;
  }
}

@media (min-width: 1200px) {
  .social__link {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social__list {
    justify-content: space-between;
  }

  .social__title {
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }

  .social__link--vkontakte {
    padding: 0;
    border-right: 1px solid #3e3e3e;
    img {
      width: 15px;
      height: 17px;
    }
  }

  .social__link--facebook {
    padding: 0;
    border-right: 1px solid #3e3e3e;
    img {
      width: 10px;
      height: 21px;
    }
  }

  .social__link--instagram {
    padding: 0;
    img {
      width: 19px;
      height: 19px;
    }
  }
}
